</head>
<body>

	<div id="header"> 

	<% if user=current_user do %>
	 <%= sign_in_button = hidden %>
	<% end -%>

	</div>

	<div id="background_frame">

	<div id="sarah"> <%= image_tag("sarah.jpg") %> </div>

	</div>

	<div id="footer"> </div>

</body>